<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<link rel="stylesheet" href="/login.css">
</head>
<body>
 <div class="header">QRXpress Login Page</div>
    <div class="login-container">
        <h1>Login</h1>
        <form action="/user/login" method="POST">
            <input type="email" name="email" class="input-field" placeholder="Email" required>
            <input type="password" name="password" class="input-field" placeholder="Password" required>
            <button type="submit" class="login-btn">Log In</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
     <div class="footer">
        © 2025 QRXpress. All rights reserved. | <a href="#">Privacy Policy</a>
    </div>
</body>
</html>